{
  "openapi": "3.1.0",
  "info": {
    "title": "FounderOps Agent API",
    "version": "1.0.0",
    "description": "CEO-scoped Agent API for reading FounderOps planning context and creating tasks through guarded Task Intake. The API does not expose database credentials and does not run AI inside FounderOps."
  },
  "servers": [
    {
      "url": "https://founder-ops.findmydoc.eu"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "opaque"
      }
    },
    "schemas": {
      "TaskIntakeInput": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "title": { "type": "string" },
          "description": { "type": "string" },
          "problemStatement": { "type": "string" },
          "intendedOutcome": { "type": "string" },
          "scopeConstraints": { "type": "string" },
          "acceptanceCriteria": {
            "oneOf": [
              { "type": "string" },
              { "type": "array", "items": { "type": "string" } }
            ]
          },
          "evidenceRequired": { "type": "string" },
          "definitionOfDone": { "type": "string" },
          "taskType": { "type": "string", "enum": ["deliverable", "proposal", "sub_issue"] },
          "parentTaskId": { "type": "string" },
          "packageId": { "type": "string" },
          "milestoneId": { "type": "string" },
          "sprintId": { "type": "string" },
          "owner": { "type": "string" },
          "priority": { "type": "string", "enum": ["P0", "P1", "P2", "P3", "P4"] },
          "status": { "type": "string" },
          "workstream": { "type": "string" },
          "startDate": { "type": "string", "format": "date" },
          "endDate": { "type": "string", "format": "date" },
          "deadline": { "type": "string", "format": "date" },
          "hours": { "type": "number", "minimum": 0, "maximum": 200 }
        }
      },
      "TaskIntakePreviewTask": {
        "allOf": [
          { "$ref": "#/components/schemas/TaskIntakeInput" },
          {
            "type": "object",
            "properties": {
              "clientId": { "type": "string" },
              "ownerId": { "type": "string" },
              "ownerName": { "type": "string" },
              "reviewOwnerProfileId": { "type": "string" },
              "reviewOwnerName": { "type": "string" },
              "scoreRelevant": { "type": "boolean" },
              "errors": { "type": "array", "items": { "type": "string" } },
              "warnings": { "type": "array", "items": { "type": "string" } }
            }
          }
        ]
      },
      "AgentContextResponse": {
        "type": "object",
        "properties": {
          "ok": { "type": "boolean" },
          "source": { "type": "string", "enum": ["seed", "supabase"] },
          "context": {
            "type": "object",
            "properties": {
              "project": { "type": "object" },
              "profiles": { "type": "array", "items": { "type": "object" } },
              "sprints": { "type": "array", "items": { "type": "object" } },
              "milestones": { "type": "array", "items": { "type": "object" } },
              "initiatives": { "type": "array", "items": { "type": "object" } },
              "metrics": { "type": "object" },
              "constraints": { "type": "object" }
            }
          }
        }
      },
      "AgentTasksResponse": {
        "type": "object",
        "properties": {
          "ok": { "type": "boolean" },
          "source": { "type": "string", "enum": ["seed", "supabase"] },
          "filters": { "type": "object" },
          "tasks": { "type": "array", "items": { "type": "object" } }
        }
      },
      "TaskIntakePayload": {
        "type": "object",
        "required": ["tasks"],
        "properties": {
          "tasks": {
            "type": "array",
            "minItems": 1,
            "maxItems": 30,
            "items": { "$ref": "#/components/schemas/TaskIntakeInput" }
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "ok": { "type": "boolean", "const": false },
          "error": { "type": "string" }
        }
      }
    }
  },
  "paths": {
    "/api/agent/context": {
      "get": {
        "operationId": "getAgentContext",
        "summary": "Read compact FounderOps planning context",
        "security": [{ "bearerAuth": [] }],
        "responses": {
          "200": {
            "description": "Planning context",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/AgentContextResponse" }
              }
            }
          },
          "401": { "description": "Missing or invalid bearer token" },
          "403": { "description": "Bearer token lacks read scope" }
        }
      }
    },
    "/api/agent/tasks": {
      "get": {
        "operationId": "getAgentTasks",
        "summary": "Read filtered FounderOps tasks",
        "security": [{ "bearerAuth": [] }],
        "parameters": [
          { "name": "owner", "in": "query", "schema": { "type": "string" } },
          { "name": "sprint", "in": "query", "schema": { "type": "string" } },
          { "name": "initiative", "in": "query", "schema": { "type": "string" } },
          { "name": "status", "in": "query", "schema": { "type": "string" } },
          { "name": "reviewOwner", "in": "query", "schema": { "type": "string" } },
          { "name": "missingEvidence", "in": "query", "schema": { "type": "boolean" } },
          { "name": "blocked", "in": "query", "schema": { "type": "boolean" } },
          { "name": "limit", "in": "query", "schema": { "type": "integer", "minimum": 1, "maximum": 200 } }
        ],
        "responses": {
          "200": {
            "description": "Filtered tasks",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/AgentTasksResponse" }
              }
            }
          },
          "401": { "description": "Missing or invalid bearer token" },
          "403": { "description": "Bearer token lacks read scope" }
        }
      }
    },
    "/api/agent/task-intake/preview": {
      "post": {
        "operationId": "previewAgentTaskIntake",
        "summary": "Validate Task Intake JSON without writes",
        "security": [{ "bearerAuth": [] }],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/TaskIntakePayload" }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Preview result",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": { "type": "boolean" },
                    "valid": { "type": "boolean" },
                    "tasks": {
                      "type": "array",
                      "items": { "$ref": "#/components/schemas/TaskIntakePreviewTask" }
                    }
                  }
                }
              }
            }
          },
          "400": { "description": "Invalid payload" },
          "401": { "description": "Missing or invalid bearer token" },
          "403": { "description": "Bearer token lacks write scope" }
        }
      }
    },
    "/api/agent/task-intake/commit": {
      "post": {
        "operationId": "commitAgentTaskIntake",
        "summary": "Create valid tasks through guarded Task Intake",
        "security": [{ "bearerAuth": [] }],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/TaskIntakePayload" }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Created tasks",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": { "type": "boolean" },
                    "tasks": { "type": "array", "items": { "type": "object" } }
                  }
                }
              }
            }
          },
          "400": { "description": "Invalid tasks; no partial writes" },
          "401": { "description": "Missing or invalid bearer token" },
          "403": { "description": "Bearer token lacks write scope" }
        }
      }
    }
  }
}
