{
  "openapi": "3.1.0",
  "info": {
    "title": "FounderOps Team Task Intake API",
    "version": "2.0.0",
    "description": "Personal-token API for approval-aware Initiative, Deliverable, and Sub-Issue intake."
  },
  "servers": [{ "url": "https://founder-ops.findmydoc.eu" }],
  "security": [{ "bearerAuth": [] }],
  "components": {
    "securitySchemes": {
      "bearerAuth": { "type": "http", "scheme": "bearer", "bearerFormat": "opaque" }
    },
    "schemas": {
      "ErrorResponse": {
        "type": "object",
        "additionalProperties": false,
        "required": ["ok", "error"],
        "properties": { "ok": { "type": "boolean", "const": false }, "error": { "type": "string" } }
      },
      "TeamTaskIntakeV2Item": {
        "type": "object",
        "additionalProperties": false,
        "required": ["itemType", "title"],
        "properties": {
          "itemType": { "type": "string", "enum": ["initiative", "deliverable", "sub_issue"] },
          "title": { "type": "string", "minLength": 3, "maxLength": 240 },
          "description": { "type": "string", "maxLength": 4000 },
          "problemStatement": { "type": "string", "maxLength": 4000 },
          "intendedOutcome": { "type": "string", "maxLength": 4000 },
          "scopeConstraints": { "type": "string", "maxLength": 4000 },
          "acceptanceCriteria": { "oneOf": [{ "type": "string", "maxLength": 6000 }, { "type": "array", "items": { "type": "string" } }] },
          "evidenceRequired": { "type": "string", "maxLength": 4000 },
          "definitionOfDone": { "type": "string", "maxLength": 4000 },
          "parentTaskId": { "type": "string", "maxLength": 120 },
          "packageId": { "type": "string", "maxLength": 120 },
          "milestoneId": { "type": "string", "maxLength": 120 },
          "ownerId": { "type": "string", "maxLength": 120 },
          "accountableProfileId": { "type": "string", "maxLength": 120 },
          "responsibleProfileIds": { "type": "array", "items": { "type": "string" } },
          "consultedProfileIds": { "type": "array", "items": { "type": "string" } },
          "informedProfileIds": { "type": "array", "items": { "type": "string" } },
          "priority": { "type": "string", "enum": ["P0", "P1", "P2", "P3", "P4"] },
          "workstream": { "type": "string", "maxLength": 120 },
          "startDate": { "type": "string", "format": "date" },
          "endDate": { "type": "string", "format": "date" },
          "deadline": { "type": "string", "format": "date" },
          "hours": { "type": "number", "minimum": 0, "maximum": 200 },
          "githubRepo": { "type": "string", "enum": ["findmydoc-platform/management", "findmydoc-platform/website", "findmydoc-platform/clinic-dashboard"] }
        }
      },
      "TeamTaskIntakeV2Payload": {
        "type": "object",
        "additionalProperties": false,
        "required": ["items"],
        "properties": {
          "items": { "type": "array", "minItems": 1, "maxItems": 30, "items": { "$ref": "#/components/schemas/TeamTaskIntakeV2Item" } }
        }
      },
      "TeamTaskContextResponse": {
        "type": "object",
        "additionalProperties": false,
        "required": ["ok", "context"],
        "properties": {
          "ok": { "type": "boolean", "const": true },
          "context": {
            "type": "object",
            "required": ["actor", "constraints", "profiles", "milestones", "initiatives", "sprints", "tasks"],
            "properties": {
              "actor": { "type": "object", "required": ["id", "name", "platformRole"] },
              "constraints": {
                "type": "object",
                "required": ["allowedItemTypes", "maxBatchSize", "forbiddenWrites", "subIssuePolicy"],
                "properties": {
                  "allowedItemTypes": { "type": "array", "items": { "type": "string", "enum": ["initiative", "deliverable", "sub_issue"] } },
                  "maxBatchSize": { "type": "integer", "const": 30 },
                  "forbiddenWrites": { "type": "array", "items": { "type": "string" } },
                  "subIssuePolicy": { "type": "string", "const": "any-deliverable" }
                }
              },
              "profiles": { "type": "array", "items": { "type": "object" } },
              "milestones": { "type": "array", "items": { "type": "object" } },
              "initiatives": { "type": "array", "items": { "type": "object" } },
              "sprints": { "type": "array", "items": { "type": "object" } },
              "tasks": { "type": "array", "items": { "type": "object" } }
            }
          }
        }
      },
      "PreviewResponse": {
        "type": "object",
        "required": ["ok", "valid", "items"],
        "properties": {
          "ok": { "type": "boolean", "const": true },
          "valid": { "type": "boolean" },
          "items": { "type": "array", "items": { "type": "object" } }
        }
      },
      "CommitResponse": {
        "type": "object",
        "required": ["ok", "batchId", "replayed", "items"],
        "properties": {
          "ok": { "type": "boolean", "const": true },
          "batchId": { "type": "string", "format": "uuid" },
          "replayed": { "type": "boolean" },
          "items": { "type": "array", "items": { "type": "object" } }
        }
      }
    }
  },
  "paths": {
    "/api/team/task-context": {
      "get": {
        "operationId": "getTeamTaskContext",
        "summary": "Read the approval-aware task context",
        "responses": {
          "200": { "description": "Current planning context", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/TeamTaskContextResponse" } } } },
          "401": { "description": "Missing, invalid, revoked, or expired token", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } },
          "403": { "description": "Token lacks the required scope or role", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }
        }
      }
    },
    "/api/team/task-intake/v2/preview": {
      "post": {
        "operationId": "previewTeamTaskIntakeV2",
        "summary": "Validate and normalize approval-aware planning items without writes",
        "requestBody": { "required": true, "content": { "application/json": { "schema": { "$ref": "#/components/schemas/TeamTaskIntakeV2Payload" } } } },
        "responses": {
          "200": { "description": "Normalized preview", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/PreviewResponse" } } } },
          "400": { "description": "Invalid payload", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } },
          "401": { "description": "Missing or invalid token", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } },
          "403": { "description": "Token lacks the required scope or role", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }
        }
      }
    },
    "/api/team/task-intake/v2/commit": {
      "post": {
        "operationId": "commitTeamTaskIntakeV2",
        "summary": "Atomically create approval-aware planning items",
        "parameters": [{ "name": "Idempotency-Key", "in": "header", "required": true, "schema": { "type": "string", "format": "uuid" } }],
        "requestBody": { "required": true, "content": { "application/json": { "schema": { "$ref": "#/components/schemas/TeamTaskIntakeV2Payload" } } } },
        "responses": {
          "200": { "description": "Created items or idempotent replay", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/CommitResponse" } } } },
          "400": { "description": "Invalid payload", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } },
          "401": { "description": "Missing or invalid token", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } },
          "403": { "description": "Token lacks the required scope or role", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } },
          "409": { "description": "Idempotency key conflict", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }
        }
      }
    }
  }
}
