{
  "openapi": "3.1.0",
  "info": {
    "title": "FounderOps Planning Items API",
    "version": "2.0.0",
    "description": "Personal-token API for the canonical Epic, Initiative, Deliverable, and Sub-Issue hierarchy. GitHub projection is available only for Deliverables and Sub-Issues; CEO and Deputy may delete an empty Epic."
  },
  "servers": [{ "url": "https://founder-ops.findmydoc.eu" }],
  "paths": {
    "/api/team/planning-items/v1/context": {
      "get": {
        "operationId": "getPlanningItemsContext",
        "security": [{ "BearerAuth": [] }],
        "responses": { "200": { "description": "Safe planning context", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ContextResponse" } } } } }
      }
    },
    "/api/team/planning-items/v1/items/preview": {
      "post": {
        "operationId": "previewPlanningItemsCreate",
        "security": [{ "BearerAuth": [] }],
        "requestBody": { "required": true, "content": { "application/json": { "schema": { "$ref": "#/components/schemas/CreatePayload" } } } },
        "responses": { "200": { "description": "Normalized create preview" }, "400": { "$ref": "#/components/responses/BadRequest" } }
      }
    },
    "/api/team/planning-items/v1/items": {
      "post": {
        "operationId": "createPlanningItems",
        "security": [{ "BearerAuth": [] }],
        "parameters": [{ "$ref": "#/components/parameters/IdempotencyKey" }],
        "requestBody": { "required": true, "content": { "application/json": { "schema": { "$ref": "#/components/schemas/CreatePayload" } } } },
        "responses": { "200": { "description": "Created planning items or an idempotent replay" }, "409": { "$ref": "#/components/responses/Conflict" } }
      }
    },
    "/api/team/planning-items/v1/items/{id}/preview": {
      "post": {
        "operationId": "previewPlanningItemUpdate",
        "security": [{ "BearerAuth": [] }],
        "parameters": [{ "$ref": "#/components/parameters/ItemId" }],
        "requestBody": { "required": true, "content": { "application/json": { "schema": { "$ref": "#/components/schemas/PatchPayload" } } } },
        "responses": { "200": { "description": "Normalized partial update preview" }, "409": { "$ref": "#/components/responses/Conflict" } }
      }
    },
    "/api/team/planning-items/v1/items/{id}/delete/preview": {
      "post": {
        "operationId": "previewEmptyEpicDelete",
        "security": [{ "BearerAuth": [] }],
        "parameters": [{ "$ref": "#/components/parameters/ItemId" }],
        "requestBody": { "required": true, "content": { "application/json": { "schema": { "$ref": "#/components/schemas/DeletePayload" } } } },
        "responses": {
          "200": { "description": "Delete preview; a non-empty Epic returns valid false and canDelete false", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/DeletePreviewResponse" } } } },
          "409": { "$ref": "#/components/responses/Conflict" }
        }
      }
    },
    "/api/team/planning-items/v1/items/{id}": {
      "patch": {
        "operationId": "updatePlanningItem",
        "security": [{ "BearerAuth": [] }],
        "parameters": [{ "$ref": "#/components/parameters/ItemId" }, { "$ref": "#/components/parameters/IdempotencyKey" }],
        "requestBody": { "required": true, "content": { "application/json": { "schema": { "$ref": "#/components/schemas/PatchPayload" } } } },
        "responses": { "200": { "description": "Updated planning item or an idempotent replay" }, "409": { "$ref": "#/components/responses/Conflict" } }
      },
      "delete": {
        "operationId": "deleteEmptyEpic",
        "security": [{ "BearerAuth": [] }],
        "parameters": [{ "$ref": "#/components/parameters/ItemId" }, { "$ref": "#/components/parameters/IdempotencyKey" }],
        "requestBody": { "required": true, "content": { "application/json": { "schema": { "$ref": "#/components/schemas/DeletePayload" } } } },
        "responses": {
          "200": { "description": "Deleted empty Epic or an idempotent replay" },
          "409": { "$ref": "#/components/responses/DeleteConflict" }
        }
      }
    },
    "/api/team/planning-items/v1/items/{id}/github-sync": {
      "post": {
        "operationId": "syncPlanningItemToGitHub",
        "security": [{ "BearerAuth": [] }],
        "parameters": [{ "$ref": "#/components/parameters/ItemId" }],
        "requestBody": { "required": true, "content": { "application/json": { "schema": { "$ref": "#/components/schemas/GitHubSyncRequest" } } } },
        "responses": {
          "200": { "description": "Wait-mode GitHub sync completed" },
          "202": { "description": "Async GitHub sync accepted" },
          "409": { "description": "The planning item is not eligible for GitHub sync" },
          "503": { "description": "GitHub sync is temporarily unavailable" }
        }
      }
    },
    "/api/team/planning-items/v1/tokens": {
      "get": {
        "operationId": "listPlanningItemsTokens",
        "responses": { "200": { "description": "Caller token records" } }
      },
      "post": {
        "operationId": "createPlanningItemsToken",
        "requestBody": { "required": true, "content": { "application/json": { "schema": { "$ref": "#/components/schemas/CreateTokenPayload" } } } },
        "responses": { "200": { "description": "One-time visible token" } }
      }
    },
    "/api/team/planning-items/v1/tokens/{id}": {
      "delete": {
        "operationId": "revokePlanningItemsToken",
        "parameters": [{ "$ref": "#/components/parameters/TokenId" }],
        "responses": { "200": { "description": "Revoked token" }, "404": { "description": "Active token not found" } }
      }
    }
  },
  "components": {
    "securitySchemes": { "BearerAuth": { "type": "http", "scheme": "bearer" } },
    "parameters": {
      "ItemId": { "name": "id", "in": "path", "required": true, "schema": { "type": "string" } },
      "TokenId": { "name": "id", "in": "path", "required": true, "schema": { "type": "string", "format": "uuid" } },
      "IdempotencyKey": { "name": "Idempotency-Key", "in": "header", "required": true, "schema": { "type": "string", "format": "uuid" } }
    },
    "responses": {
      "BadRequest": { "description": "Invalid request" },
      "Conflict": { "description": "Stale version or incompatible idempotency replay" },
      "EpicNotEmpty": {
        "description": "The Epic still has Initiative or Deliverable children",
        "content": { "application/json": { "schema": { "$ref": "#/components/schemas/EpicNotEmptyResponse" } } }
      },
      "DeleteConflict": {
        "description": "The Epic is non-empty, the version is stale, or the idempotency key conflicts",
        "content": { "application/json": { "schema": { "oneOf": [
          { "$ref": "#/components/schemas/EpicNotEmptyResponse" },
          { "$ref": "#/components/schemas/ErrorResponse" }
        ] } } }
      }
    },
    "schemas": {
      "CreatePayload": {
        "type": "object",
        "additionalProperties": false,
        "required": ["items"],
        "description": "githubSyncMode is required exactly when at least one item contains githubSync.",
        "properties": {
          "githubSyncMode": { "$ref": "#/components/schemas/GitHubSyncMode" },
          "items": { "type": "array", "minItems": 1, "maxItems": 30, "items": { "$ref": "#/components/schemas/PlanningItemCreate" } }
        }
      },
      "PlanningItemCreate": {
        "type": "object",
        "description": "Fields are type-specific. Canonical hierarchy references use parentTaskId. Strategic items do not accept GitHub, Sprint, Review, score, or Evidence fields. A Sub-Issue requires an approved Deliverable parent; evidenceRequired is text context only.",
        "additionalProperties": false,
        "required": ["itemType", "title"],
        "properties": {
          "itemType": { "type": "string", "enum": ["epic", "initiative", "deliverable", "sub_issue"] },
          "title": { "type": "string", "minLength": 3, "maxLength": 240 },
          "description": { "type": "string" }, "problemStatement": { "type": "string" }, "intendedOutcome": { "type": "string" },
          "scopeConstraints": { "type": "string" }, "acceptanceCriteria": { "$ref": "#/components/schemas/AcceptanceCriteria" },
          "evidenceRequired": { "type": "string" }, "definitionOfDone": { "type": "string" }, "parentTaskId": { "type": "string" },
          "ownerId": { "type": "string" },
          "accountableProfileId": { "type": "string" }, "responsibleProfileIds": { "$ref": "#/components/schemas/ProfileIds" },
          "consultedProfileIds": { "$ref": "#/components/schemas/ProfileIds" }, "informedProfileIds": { "$ref": "#/components/schemas/ProfileIds" },
          "priority": { "$ref": "#/components/schemas/Priority" }, "workstream": { "type": "string" }, "startDate": { "type": "string", "format": "date" },
          "endDate": { "type": "string", "format": "date" }, "deadline": { "type": "string", "format": "date" }, "hours": { "type": "integer", "minimum": 0, "maximum": 200 }, "githubRepo": { "type": "string" },
          "targetDate": { "type": ["string", "null"], "format": "date" }, "status": { "oneOf": [{ "$ref": "#/components/schemas/StrategicStatus" }, { "$ref": "#/components/schemas/TaskStatus" }, { "$ref": "#/components/schemas/SubIssueStatus" }] },
          "githubSync": { "$ref": "#/components/schemas/GitHubSyncCommand" }
        }
      },
      "PatchPayload": {
        "type": "object",
        "additionalProperties": false,
        "required": ["expectedUpdatedAt"],
        "minProperties": 2,
        "properties": {
          "expectedUpdatedAt": { "type": "string", "format": "date-time" },
          "githubSyncMode": { "$ref": "#/components/schemas/GitHubSyncMode" },
          "githubSync": { "$ref": "#/components/schemas/GitHubSyncCommand" },
          "title": { "type": ["string", "null"] }, "description": { "type": ["string", "null"] }, "problemStatement": { "type": ["string", "null"] },
          "intendedOutcome": { "type": ["string", "null"] }, "scopeConstraints": { "type": ["string", "null"] }, "acceptanceCriteria": { "$ref": "#/components/schemas/NullableAcceptanceCriteria" },
          "evidenceRequired": { "type": ["string", "null"] }, "definitionOfDone": { "type": ["string", "null"] }, "parentTaskId": { "type": ["string", "null"] },
          "ownerId": { "type": ["string", "null"] },
          "accountableProfileId": { "type": ["string", "null"] }, "responsibleProfileIds": { "$ref": "#/components/schemas/ProfileIds" },
          "consultedProfileIds": { "$ref": "#/components/schemas/ProfileIds" }, "informedProfileIds": { "$ref": "#/components/schemas/ProfileIds" },
          "priority": { "type": ["string", "null"], "enum": ["P0", "P1", "P2", "P3", "P4", null] }, "workstream": { "type": ["string", "null"] },
          "startDate": { "type": ["string", "null"], "format": "date" }, "endDate": { "type": ["string", "null"], "format": "date" }, "deadline": { "type": ["string", "null"], "format": "date" },
          "hours": { "type": ["integer", "null"], "minimum": 0, "maximum": 200 }, "githubRepo": { "type": ["string", "null"] },
          "targetDate": { "type": ["string", "null"], "format": "date" },
          "status": {
            "description": "Epics and Initiatives use StrategicStatus; Deliverables use TaskStatus; Sub-Issues use SubIssueStatus.",
            "oneOf": [
              { "$ref": "#/components/schemas/StrategicStatus" },
              { "$ref": "#/components/schemas/TaskStatus" },
              { "$ref": "#/components/schemas/SubIssueStatus" }
            ]
          }
        }
      },
      "DeletePayload": {
        "type": "object",
        "additionalProperties": false,
        "required": ["expectedUpdatedAt"],
        "properties": { "expectedUpdatedAt": { "type": "string", "format": "date-time" } }
      },
      "EpicChildCounts": {
        "type": "object",
        "additionalProperties": false,
        "required": ["initiatives", "tasks"],
        "properties": {
          "initiatives": { "type": "integer", "minimum": 0 },
          "tasks": { "type": "integer", "minimum": 0 }
        }
      },
      "DeletePreviewResponse": {
        "type": "object",
        "required": ["ok", "valid", "canDelete", "itemId", "itemType", "currentItem", "children", "warnings"],
        "properties": {
          "ok": { "const": true }, "valid": { "type": "boolean" }, "canDelete": { "type": "boolean" },
          "itemId": { "type": "string" }, "itemType": { "const": "epic" }, "currentItem": { "type": "object" },
          "children": { "$ref": "#/components/schemas/EpicChildCounts" },
          "code": { "type": ["string", "null"], "enum": ["EPIC_NOT_EMPTY", null] },
          "error": { "type": "string" }, "warnings": { "type": "array", "items": { "type": "string" } }
        }
      },
      "EpicNotEmptyResponse": {
        "type": "object",
        "additionalProperties": false,
        "required": ["ok", "code", "error", "children"],
        "properties": {
          "ok": { "const": false }, "code": { "const": "EPIC_NOT_EMPTY" }, "error": { "type": "string" },
          "children": { "$ref": "#/components/schemas/EpicChildCounts" }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "required": ["ok", "error"],
        "properties": { "ok": { "const": false }, "error": { "type": "string" } }
      },
      "AcceptanceCriteria": { "oneOf": [{ "type": "string" }, { "type": "array", "items": { "type": "string" } }] },
      "NullableAcceptanceCriteria": { "oneOf": [{ "$ref": "#/components/schemas/AcceptanceCriteria" }, { "type": "null" }] },
      "ProfileIds": { "type": "array", "items": { "type": "string" }, "uniqueItems": true },
      "Priority": { "type": "string", "enum": ["P0", "P1", "P2", "P3", "P4"] },
      "StrategicStatus": { "type": "string", "enum": ["Offen", "In Arbeit", "Pausiert", "Blockiert", "Erledigt"] },
      "TaskStatus": { "type": "string", "enum": ["Offen", "In Arbeit", "Review", "Nacharbeit", "Blockiert", "Erledigt"] },
      "SubIssueStatus": { "type": "string", "enum": ["Offen", "In Arbeit", "Blockiert", "Erledigt"] },
      "GitHubSyncMode": { "type": "string", "enum": ["async", "wait"] },
      "GitHubSyncCommand": {
        "type": "object",
        "additionalProperties": false,
        "required": ["createIfMissing"],
        "properties": { "createIfMissing": { "type": "boolean" } }
      },
      "GitHubSyncRequest": {
        "type": "object",
        "additionalProperties": false,
        "required": ["githubSyncMode", "createIfMissing"],
        "properties": {
          "githubSyncMode": { "$ref": "#/components/schemas/GitHubSyncMode" },
          "createIfMissing": { "type": "boolean" }
        }
      },
      "PlanningItemGitHubSyncResult": {
        "oneOf": [
          { "type": "object", "additionalProperties": false, "required": ["status"], "properties": { "status": { "const": "accepted" } } },
          { "type": "object", "required": ["status", "code", "issue", "warnings"], "properties": { "status": { "const": "synced" }, "code": { "const": "github_sync_succeeded" }, "issue": { "type": "object" }, "warnings": { "type": "array", "items": { "type": "string" } } } },
          { "type": "object", "required": ["status", "code", "error", "retryable"], "properties": { "status": { "type": "string", "enum": ["notEligible", "failed"] }, "code": { "type": "string" }, "error": { "type": "string" }, "retryable": { "type": "boolean" } } }
        ]
      },
      "CreateTokenPayload": { "type": "object", "additionalProperties": false, "required": ["label"], "properties": { "label": { "type": "string", "maxLength": 80 }, "allowUpdates": { "type": "boolean", "default": false }, "allowEmptyEpicDeletes": { "type": "boolean", "default": false, "description": "CEO and Deputy only; adds write:planning-items:delete-empty." }, "allowGitHubSync": { "type": "boolean", "default": false, "description": "Adds write:planning-items:github-sync for Deliverables and Sub-Issues only." } } },
      "ContextResponse": { "type": "object", "properties": { "ok": { "const": true }, "context": { "type": "object" } }, "required": ["ok", "context"] }
    }
  }
}
